<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<link rel="stylesheet" th:href="@{style.css}">

<head>
</head>
<body>
<section layout:fragment="content">
    <h1>Znajdź swój ulubiony przepis</h1>

    <section class="section-meals">
        <ul class="meals-showcase clearfix">
            <a id="homeLinks" th:href="@{|/category?id=2|}">
            <li>
                <figure class="meal-photo">
                    <img src="/images/1.jpg">
                </figure>
                <p class="cousine">Kuchnia polska</p>
            </a>
            </li>

            <li>
                <a id="homeLinks" th:href="@{|/category?id=1|}">

                <figure class="meal-photo">
                    <img src="/images/2.jpg">
                </figure>
                <p class="cousine">Kuchnia włoska</p>
                </a>
            </li>

        <li>
            <a id="homeLinks" th:href="@{|/category?id=4|}">

            <figure class="meal-photo">
                    <img src="/images/3.jpg">
                </figure>
            </a>
            <p class="cousine"> Kuchnia chińska</p>

        </li>
            <li>
                <a id="homeLinks" th:href="@{|/category?id=3|}">

                <figure class="meal-photo">
                    <img src="/images/4.jpg">
                </figure>
                </a>
                <p class="cousine">Kuchnia indyjska</p>

            </li>
        </ul>
    </section>
    <script type="text/javascript" th:src="@{/js.src/script.js}"></script>

</section>
</body>
</html>