<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout.html}">

<head>

</head>
<body>
<section layout:fragment="content" class="content">
    <div th:switch="${category.id}">
        <div class="img category">
            <p th:case="1"><img id="italian" src="/images/2.jpg"></p>
            <p th:case="2"><img id="polish" src="/images/1.jpg"></p>
            <p th:case="3"><img id="indian" src="/images/3.jpg"></p>
            <p th:case="4"><img id="chinese" src="/images/4.jpg"></p>
            <p th:case="5"><img id="all" src="/images/bb.jpg"></p>
        </div>
    </div>
    <h1 class="overlay" th:value="${category.id}" th:text="${category.name}">Przepisy</h1>
    <tr th:if="${recipies.empty}">
        <td colspan="5"> Brak przepisów</td>
    </tr>
    <div th:each="recipe : ${recipies}">

        <h2 th:text="${recipe.name}"></h2>
        <article style="display: flex;">
            <section style="flex: 60%;">
                <h2>Przepis</h2>
                <p th:text="${recipe.description}">Tutaj będzie przepis.</p>
            </section>

        </article>

        <div id="container">
            <form th:action="@{delete}" method="post">
                <input type="hidden" name="id" th:value="${recipe.id}"/>
                <input type="submit" value="Kasuj przepis" class="btn btn-delete"/>
            </form>
            <form th:action="@{edit}" method="get">
                <input type="hidden" name="id" th:value="${recipe.id}"/>
                <input type="submit" value="Edytuj przepis" class="btn btn-edit"/>
            </form>
            <form th:action="@{like}" method="post">
                <input type="hidden" name="id" th:value="${recipe.id}"/>
                <button th:if="${recipe.numberOfLikes} == 0">
                    <input type="submit" value="Polub ten przepis" class="btn btn-like"/>
                </button>
                <button th:if="${recipe.numberOfLikes} > 0">
                    <input type="submit" th:value="|Liczba polubień: ${recipe.numberOfLikes}|"
                           class="btn btn-like red"/>
                </button>
            </form>
        </div>
        <hr class="rounded">

    </div>
    <script type="text/javascript" th:src="@{/js.src/script.js}"></script>
</section>

</body>
</html>